@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Mr+De+Haviland&display=swap');

body {
    background-color: white;
    margin: 0;
    font-family: 'Josefin Slab', serif;
    text-align: center;

}

p {
    font-weight: 400;
}


/* Headings */
.welcome-heading {
    color: white;
    font-family: 'Mr De Haviland', cursive;
    font-size: 5em;
    font-weight: 400;
    padding: 1.5rem 3rem;
}

.welcome-subheading {
    font-size: 3rem;
    font-weight: 400;

}

.section-headings {
    font-size: 2.5rem;
    position: relative;
    text-align: center;
}

/* Containers */

.content-container {
    font-family: 'Josefin Slab', serif;
    font-size: 1.3em;
    line-height: 1.5;
    width: 75%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-container {
    height: 100%;
    width: 75vw;
    color: black;
    margin: 0 auto;
    padding: 75px 0;
    border-radius: 25px;
}

.welcome-box {
    border:5px solid black;
    box-shadow: 0px 0px 1px black;
    background-color: rgba(161, 161, 161, 0.6);
    
}

/* Images */

.about-img {
    border-radius: 50%;
    flex-shrink: 1;
    padding: 30px 0;
    width: 300px;
}
/*Navigation classes */
nav {
    width: 100%;
    height: fit-content;
    background-color: black;
    box-shadow: 0px 0px 10px grey;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
    z-index: 10;

}

.navcontainer {
    margin: 20px 0px;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.logo {
    float: left;
    width: 100px;
    display: inline;
}

.navlink {
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
}


.navlink:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

/* Mobile nav menu, for tablet and below */
.mobilemenu {
    display: none;
    position: fixed;
    text-align: center;
    top: 0px;
    right: 0px;
    width: 50px;
    padding: 10px 20px;
}

.mobileMenuReveal{
    visibility: visible;
}

.mobileMenuHide {
    visibility: hidden;
}
.mobiledropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px black;
    list-style-type: none;
    position: fixed;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    right: 10px;
    top: 45px;
    width: max-content;
    text-align: left;
}

.fa-bars {
    padding: 10px 0px 20px 30px;
    color: white;
}

/*Welcome screen*/
.welcome {
    height: 60vh;
    width: 100%;
    margin: 60px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images3.alphacoders.com/879/879538.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/*Curved underline span class */
.redunderline {
    position: relative;
}

.redunderline:after {
    border: none;
    border-top: solid 4px red;
    border-radius: 50%;
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    height: 15px;
    width: 100%;
}

/* Menu Section */

.menu-title-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 0 50px;
}

.menuOption {
    text-decoration: none;
    color: black;
    padding: 0 3px;
}

.menuOption:hover {
    text-decoration: underline;
    text-decoration-color: red;
}



.menu-box {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-shrink: 0;

    margin:0 auto;
    height: fit-content;
    width: 60%;


    font-family: 'Josefin Slab', serif;
    text-align: center;
}

.menu-item {
    padding: 0 25px;
}

.menu-item-heading {
    font-size: 1rem;
    font-weight: 600;
}

.selected-menu-title {
    text-decoration: underline;
    text-decoration-color: red;
}
.invisible {
    display:none;
}

.visible {
    display: block;
}

/*About us section */

#map {
    height: 400px;
    width: 100%
}

#hours {
    padding: 75px 0;
    text-align: center;
}

.hours-list {
    list-style-type: none;
    padding-right:40px;
}

.hours-list li {
    padding: 20px 0;
}

/* Contact Section */

.contact-container {
    background-color: black;
    color: white;
    padding: 75px 0;
    width:100vw;
}

.contact-icons {
    font-size: 2rem;
    padding: 0 20px;
}

#contact p {
    font-size: 1.5rem;
    padding-right:20px;
}

.icons-container {
    padding-right:20px;
}

/* Media Queries */
@media (max-width:700px) {
    .mobilemenu {
        display: block;
    }

    .navlink {
        display: block;
        padding: 10px 30px 10px 0px;
    }

    .navcontainer {
        display: none;
    }

    .logo {
        width: 75px;
    }
}


@media (max-width:425px) {
    .welcome-heading {
        width: 70%;
        font-size: 3.5rem;
    }
}